﻿@model Backend.Models.Usuario

@{
    ViewBag.Title = "Cadastros";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Cadastro</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/Content/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/main.css">
    <!--===============================================================================================-->
</head>
<body>

    <div class="limiter">
        <div class="container-login100" style="background-image: url('../../Content/images/fila.jpg');">
            <div class="wrap-login100 p-t-30 p-b-50">
                <span class="login100-form-title p-b-41">
                    Fila Fácil
                    Tela de cadastro
                </span>
                <form class="login100-form validate-form p-b-33 p-t-5">

                    <div class="wrap-input100 validate-input" data-validate="Informar Nome ">
                        <input class="input100" type="text" name="username" placeholder="Nome">
                        <span class="focus-input100" data-placeholder="&#xe82a;"></span>
                    </div>
                    <div class="wrap-input100 validate-input" data-validate="Informar Sobrenome ">
                        <input class="input100" type="text" name="username" placeholder=" Sobrenome">
                        <span class="focus-input100" data-placeholder="&#xe82a;"></span>
                    </div>
                    <div class="wrap-input100 validate-input" data-validate="Informar o CPF">
                        <input class="input100" type="number" name="username" placeholder=" CPF">
                        <span class="focus-input100" data-placeholder="&#xe822;"></span>
                    </div>
                    <div class="wrap-input100 validate-input" data-validate="Informar  E-mail">
                        <input class="input100" type="text" name="username" placeholder="E-mail">
                        <span class="focus-input100" data-placeholder="&#xe818;"></span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Informar senha">
                        <input class="input100" type="password" name="pass" placeholder="Senha">
                        <span class="focus-input100" data-placeholder="&#xe80f;"></span>
                    </div>
                    <div class="wrap-input100 validate-input" data-validate="Informar senha">
                        <input class="input100" type="password" name="pass" placeholder="Repita Senha">
                        <span class="focus-input100" data-placeholder="&#xe80f;"></span>
                    </div>
                    <div class="wrap-input100 validate-input" data-validate="Informar date de nascimento">
                        <input class="input100" type="date" name="date" placeholder="Data de Nascimento">
                        <span class="focus-input100" data-placeholder="&#xe836;"></span>
                    </div>

                    <input type="checkbox" class="check" id="preferencial" name="preferencial" checked>
                    <label for="from" class="wrap-textart">
                            <p> </p> Lei 10.048 -Art. 1° As pessoas portadoras de deficiência, os idosos com
                        idade igual ou superior a 60 (sessenta) anos, as gestantes, as lactantes e as pessoas
                        acompanhadas por crianças de colo terão atendimento prioritário.
                    </label>

                    <div class="container-login100-form-btn m-t-32">
                        <button class="login100-form-btn" >
                            Cadastrar-se
                        </button>
                    </div>

                    <div class="container-login100-form-btn m-t-32">
                        <a button class="login100-form-btn" href="http://localhost:53675">Voltar</a>
                    </div>

                </form>
            </div>
        </div>
    </div>


    <div id="dropDownSelect1"></div>

    <!--===============================================================================================-->
    <script src="vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/bootstrap/js/popper.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/daterangepicker/moment.min.js"></script>
    <script src="vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="js/main.js"></script>

</body>
</html>